body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aef1b0;
  }
  
  header {
    background-color: #3b8329;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
  
  .resume {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5efc2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  